@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
    cursor: pointer;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    background: #e8d9bf;
}

/* ヘッダー */
#header{
    position: relative;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.51%;
    padding-right: 6.53%;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    width: 226.7px;
}

.pc-nav ul{
    display: flex;
}

.pc-nav ul li a {
    display: block;
    color: #fff;
    font-size: 18px;
    width: 105px;
    text-align: center;
    margin-right: 53px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
}

.pc-nav ul li:last-child a {
    margin-right: 0;
}

/* スマホ版のメニューは消す */
.hamburger {
    display: none;
}

.sp-nav {
    display: none;
}



/* pc版本文 */
.text {
    margin-top: 104px;
    font-size: 30px;
    margin-bottom: 58px;
    text-align: center;
    padding: 0 10px;
}

.text2{
    margin-bottom: 40.05px;
    font-size: 82px;
    text-align: center;  
    line-height: 1.17;
    letter-spacing: 0.1em;
    padding: 0 10px;
}

.text3{
    font-size: 23px;
    text-align: center;
    margin-bottom: 107px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    padding: 0 10px;
}

/* 私たちについて */
.aboutus-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding-right:  24px;
    padding-left: 24px;
}


.image-container {
    width: 50%;
    overflow: hidden;
}

.image-container img {
    border-radius: 0  0 100px 0;
}

.about {
    max-width: 43%
}

.about-title {
    display: block;
    margin-bottom: 24px;
    height: 80px;
}

.catch {
    margin: 0 0 16px;
    font-size: 44px;
    line-height: 1.5;
    font-weight: 400;
}

.catch span{
    font-display: block;
}

.about-desc {
    margin: 0;
    line-height: 1.9;
}

/* メニュー */
.wrap2{
    max-width: 1000px;
    margin: 0 auto;
    padding-right:  24px;
    padding-left: 24px;
}


.menu-logo {
    display: block;
    margin: 41px auto 44px;
    height: 81px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 100px;
}

.menu2 {
    width: 30%;
    text-align: left;
    
}

.menu-wrap{
    display: flex;
    justify-content: space-between;
}

.thumnail {
    overflow: hidden;
    border-radius: 0 50px 0 0;
}

.menu-head {
    font-size: 38px;
    color: #d30202;
    margin-top: -20px;
    margin-left: 10px;
}

.menu-desc {
    font-size: 17px;
    color: #4f260b;
    margin-top: 24px;
    line-height: 1.47;
}

/* ギャラリー */
.gallery-logo {
    margin: 0 auto;
    display: block;
    height: 81px;
    margin-top: 60px;
    margin-bottom: 40px;
    padding-right:  24px;
}

.gallery2{
    display: flex;
    justify-content: space-between;
}

.gallery2 img {
    width: 20%;
}

/* イベント */
.event-logo{
    margin: 0 auto;
    display: block;
    height: 81px;
    margin-top: 64px;
    margin-bottom: 40px;
    padding-right:  24px;
}

.event-wrap {
    background-color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-size: 23px;
    border: 3.68px solid #4f260b;
    margin: 0 24px;
}

.news_pc {
    text-align: center;
    text-decoration: underline;
    margin-left: 40px;
    line-height: 1.95;
}

/* アクセス */
.access {
    margin: 0 auto;
    display: block;
    height: 81px;
    margin-top: 64px;
    margin-bottom: 40px;
}

.map iframe {
    width: 100%;
    height: 400px;
}

/* フッター */
.footer {
    background-color: #fff;
    padding-top: 64px;
}

.footer-logo {
    height: 52px;
    margin-right: 56px;
    margin-left: 24px;
}

.adress li {
    line-height: 1.95;
    font-size: 20px;
}    

.toTOP {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

.footer-wrap {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding-right: 24px;

}

.name {
    font-size: 16px;
    text-align: center;
    padding: 80px;
}

/* スライダーの調整 */
.slick-dots {
    bottom: 25px;
}
.slick-dots li.slick-active button::before {
    color: white;
}

.slick-dots li button::before {
    color: white;
}

/* スマホ版 */
@media screen and (max-width:1100px) {
    .pc-nav {
        display: none;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        height: 33px;
        z-index: 9999;
    }

    .hamburger span {
        display: block;
        width: 33px;
        height: 3px;
        background: #fff;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    /* 擬似要素 */
    .hamburger span::before,
    .hamburger span::after {
        content: "";
        width: 33px;
        height: 3px;
        background: #fff;
        display: block;
        position: absolute;
        transition: 0.3s;
    }

    .hamburger span::before {
        bottom: 10px;
    }

    .hamburger span::after {
        top: 10px;
    }

    .open span {
        background: transparent;
    }

    .open span::before {
        bottom: 0;
        /* アニメーション45度回る */
        transform: rotate(45deg);
    }
    .open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    .sp-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.8);
    }

    .sp-nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sp-nav ul li a{
        text-align: center;
        display: block;
        color: #fff;
        padding: 10px 0;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-size: 18px;
    }

    p.text {
        font-size: 17px;
    }

    p.text2 {
        font-size: 33px;
    }

    p.text3 {
        font-size: 16px;
        letter-spacing: 1.875;
    }
}

@media screen and (max-width:767px){

    section.aboutus-wrap {
        flex-direction: column;
    }

    p.image-container {
        max-width: 100%;
    }
    
}